* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;

    font-family: "Overpass", sans-serif;

    --Orange: hsl(25, 97%, 53%);
    --Orange-dark: hsl(25, 83%, 39%);
    --White: hsl(0, 100%, 100%);
    --Grey-500: hsl(217, 12%, 63%);
    --Grey-900: hsl(213, 19%, 18%);
    --Grey-950: hsl(216, 12%, 8%);
    --Grey-transparent: hsla(217, 12%, 63%, 0.116);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
    background-color: var(--Grey-950);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: var(--Grey-900);
    min-height: 46vh;
    min-width: 20vw;
    border-radius: 30px;
}

h1 {
    color: var(--White);
}

p {
    font-size: 15px;
}

p, label {
    color: var(--Grey-500);
}

#rating-select {
    color: var(--Orange);
}

.start-state {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.icon img {
    border: 15px solid var(--Grey-transparent);
    border-radius: 100px;
}

.text-wrap p {
    width: 35ch;
}

.text-wrap h1 {
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.start-state button {
    background-color: var(--Orange);
    color: var(--Grey-950);
    border-radius: 55px;
    border-style: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    transition: transform 0.1s;
}

.start-state button:hover {
    background-color: var(--White);
    transform: scale(1.02);
    cursor: pointer;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

input[type="radio"] {
  display: none;
}

label {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--Grey-transparent);
    cursor: pointer;

    font-weight: 700;
}

input[type="radio"]:checked + label {
  background-color: var(--White);
  color: var(--Grey-950);
}

label:hover {
    background-color: var(--Orange);
    color: var(--Grey-950);
}