* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;

    font-size: 15px;

    font-family: "Overpass", sans-serif;

    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 100%, 100%);
    --Grey-500: hsl(217, 12%, 63%);
    --Grey-900: hsl(213, 19%, 18%);
    --Grey-950: hsl(216, 12%, 8%);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
    background-color: var(--Grey-950);
}

.wrapper {
    background-color: var(--Grey-900);
}

h1 {
    color: var(--White);
}

p, label {
    color: var(--Grey-500);
}

button {
    background-color: var(--Orange);
    color: var(--Grey-950);
}

#rating-select {
    color: var(--Orange);
}

